body{
background-image: url("gradienta.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
margin: 0%;
}
    div {
    display: inline-block; 
    width: 500px;  
    text-align: center;  
    float: right;
    margin-top: 150px;
    margin-right: calc( 50% - 250px )
    }
        h1 {
        display: inline-block;
        width: 100%; 
        font-size: 70px; 
        color: #404040;
        }   
        p:nth-of-type(1) {
        display: inline-block;
        width: 100%; font-size: 18px; 
        color: #FF3542;
        }
        p:nth-of-type(2) {
        display: inline-block; 
        width: 100%; 
        font-size: 15px; 
        color: #1E65FF;
        font-family: fantasy;
        }
        a {
        display: inline-block; 
        font-size: 20px;
        text-decoration: none;
        color: seagreen; 
        background-color: #FFE735; 
        padding: 5px;
        }
