 body{
        background-image: url("gradienta.jpg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
 }
    body > div{
        display: inline-block; 
        margin-top: 130px; 
        margin-left: 20%
    }
     img {
         width: 25%; 
         display: inline-block
        }
     div > div {
         display: inline-block; 
         width: 40%;  text-align: center;  
         float: right;
         margin-right: 25%
        }
     h1 {
         display: inline-block;
         width: 100%; 
         font-size: 70px; 
         color: #404040;
     }   
     p:nth-of-type(1) {
         display: inline-block;
         width: 100%; font-size: 18px; 
         color: #FF3542;
        }
     p:nth-of-type(2) {
         display: inline-block; 
         width: 100%; 
         font-size: 15px; 
         color: #1E65FF;
        }
     a {
         display: inline-block; 
         font-size: 20px;
         text-decoration: none;
         color: seagreen; 
         background-color: #FFE735; 
         padding: 5px;
        }